@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */


.nav-text {
    font-size: 2rem;
    color: white;
    padding: 0.3em 0.7em 0 0.7em;
}

.nav-logo {
    /* padding: 1em 1em 1em 2em; */
    padding: 0.6em 3em;
}

/* .menuItems {
    display: none;
}

.menuItems.is-open {
    display: flex;
    flex-direction: column;
} */